In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in season stats data
season_stats_df = pd.read_csv('resources/seasons_stats.csv', encoding='windows-1252')
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [3]:
# analyze data types for counting stats
season_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    24624 non-null  float64
 1   Player  24624 non-null  object
 2   Pos     24624 non-null  object
 3   Age     24616 non-null  float64
 4   Tm      24624 non-null  object
 5   G       24624 non-null  float64
 6   GS      18233 non-null  float64
 7   MP      24138 non-null  float64
 8   PER     24101 non-null  float64
 9   TS%     24538 non-null  float64
 10  3PAr    18839 non-null  float64
 11  FTr     24525 non-null  float64
 12  ORB%    20792 non-null  float64
 13  DRB%    20792 non-null  float64
 14  TRB%    21571 non-null  float64
 15  AST%    22555 non-null  float64
 16  STL%    20792 non-null  float64
 17  BLK%    20792 non-null  float64
 18  TOV%    19582 non-null  float64
 19  USG%    19640 non-null  float64
 20  blanl   0 non-null      float64
 21  OWS     24585 non-null  float64
 22  DWS     24585 non-null  float64
 23  WS      24585 non-null  float64
 24  WS/48   24101 non-null  float64
 25  blank2  0 non-null      float64
 26  OBPM    20797 non-null  float64
 27  DBPM    20797 non-null  float64
 28  BPM     20797 non-null  float64
 29  VORP    20797 non-null  float64
 30  FG      24624 non-null  float64
 31  FGA     24624 non-null  float64
 32  FG%     24525 non-null  float64
 33  3P      18927 non-null  float64
 34  3PA     18927 non-null  float64
 35  3P%     15416 non-null  float64
 36  2P      24624 non-null  float64
 37  2PA     24624 non-null  float64
 38  2P%     24496 non-null  float64
 39  eFG%    24525 non-null  float64
 40  FT      24624 non-null  float64
 41  FTA     24624 non-null  float64
 42  FT%     23766 non-null  float64
 43  ORB     20797 non-null  float64
 44  DRB     20797 non-null  float64
 45  TRB     24312 non-null  float64
 46  AST     24624 non-null  float64
 47  STL     20797 non-null  float64
 48  BLK     20797 non-null  float64
 49  TOV     19645 non-null  float64
 50  PF      24624 non-null  float64
 51  PTS     24624 non-null  float64
dtypes: float64(49), object(3)
memory usage: 9.8+ MB

In [4]:
# Check for empty rows
season_stats_df['Year'].isna().sum()

67

In [5]:
# Drop Empty Rows
season_stats_df.dropna(subset=['Year'], inplace=True)
season_stats_df = season_stats_df.reset_index(drop=True)
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24620,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24621,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24622,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24623,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [6]:
# Drop Null Columns
season_stats_df = season_stats_df.drop(['blanl', 'blank2'], axis=1)
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24620,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24621,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24622,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24623,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
# Remove TOT teams, as we would like to calculate totals on our own
season_stats_df = season_stats_df[season_stats_df['Tm'] != 'TOT']
season_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,0.376,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24620,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24621,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24622,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24623,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [8]:
season_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22501 entries, 0 to 24623
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    22501 non-null  float64
 1   Player  22501 non-null  object
 2   Pos     22501 non-null  object
 3   Age     22494 non-null  float64
 4   Tm      22501 non-null  object
 5   G       22501 non-null  float64
 6   GS      16658 non-null  float64
 7   MP      22083 non-null  float64
 8   PER     22073 non-null  float64
 9   TS%     22415 non-null  float64
 10  3PAr    17203 non-null  float64
 11  FTr     22402 non-null  float64
 12  ORB%    19003 non-null  float64
 13  DRB%    19003 non-null  float64
 14  TRB%    19717 non-null  float64
 15  AST%    20628 non-null  float64
 16  STL%    19003 non-null  float64
 17  BLK%    19003 non-null  float64
 18  TOV%    17871 non-null  float64
 19  USG%    17929 non-null  float64
 20  OWS     22496 non-null  float64
 21  DWS     22496 non-null  float64
 22  WS      22496 non-null  float64
 23  WS/48   22073 non-null  float64
 24  OBPM    19008 non-null  float64
 25  DBPM    19008 non-null  float64
 26  BPM     19008 non-null  float64
 27  VORP    19008 non-null  float64
 28  FG      22501 non-null  float64
 29  FGA     22501 non-null  float64
 30  FG%     22402 non-null  float64
 31  3P      17291 non-null  float64
 32  3PA     17291 non-null  float64
 33  3P%     14059 non-null  float64
 34  2P      22501 non-null  float64
 35  2PA     22501 non-null  float64
 36  2P%     22373 non-null  float64
 37  eFG%    22402 non-null  float64
 38  FT      22501 non-null  float64
 39  FTA     22501 non-null  float64
 40  FT%     21675 non-null  float64
 41  ORB     19008 non-null  float64
 42  DRB     19008 non-null  float64
 43  TRB     22232 non-null  float64
 44  AST     22501 non-null  float64
 45  STL     19008 non-null  float64
 46  BLK     19008 non-null  float64
 47  TOV     17934 non-null  float64
 48  PF      22501 non-null  float64
 49  PTS     22501 non-null  float64
dtypes: float64(47), object(3)
memory usage: 8.8+ MB

In [9]:
# read in player dataset
players_df = pd.read_csv('database_files/player_dataset.csv', encoding='UTF-8')
players_df

,active_from,active_to,birth_date,height,name,position,player_id,weight,NBA Years Active,School,School_ID
0,1991,1995,24-Jun-68,82,Alaa Abdelnaby,F-C,abdelal01,240.0,5,Duke University,S0096
1,1969,1978,7-Apr-46,81,Zaid Abdul-Aziz,C-F,abdulza01,235.0,10,Iowa State University,S0154
2,1970,1989,16-Apr-47,86,Kareem Abdul-Jabbar,C,abdulka01,225.0,20,"University of California, Los Angeles",S0334
3,1991,2001,9-Mar-69,73,Mahmoud Abdul-Rauf,G,abdulma02,162.0,11,Louisiana State University,S0178
4,1998,2003,3-Nov-74,78,Tariq Abdul-Wahad,F,abdulta01,223.0,6,San Jose State University,S0274
...,...,...,...,...,...,...,...,...,...,...,...
4571,2018,2018,4-Jan-97,83,Ante Zizic,F-C,zizican01,250.0,1,International/High School Prospect,S0152
4572,1983,1983,20-Dec-53,85,Jim Zoet,C,zoetji01,240.0,1,Kent State University,S0161
4573,1971,1971,7-Jun-48,73,Bill Zopf,G,zopfbi01,170.0,1,Duquesne University,S0097
4574,2017,2018,18-Mar-97,85,Ivica Zubac,C,zubaciv01,265.0,2,International/High School Prospect,S0152
4575,1949,1949,19-Dec-19,75,Matt Zunic,G-F,zunicma01,195.0,1,George Washington University,S0122

In [10]:
# create player id table
player_id_table = pd.DataFrame(players_df['name'])
player_id_table['player_id'] = players_df['player_id']
player_id_table = player_id_table.rename(columns={"name": "Player"})
player_id_table

                   Player  player_id
0          Alaa Abdelnaby  abdelal01
1         Zaid Abdul-Aziz  abdulza01
2     Kareem Abdul-Jabbar  abdulka01
3      Mahmoud Abdul-Rauf  abdulma02
4       Tariq Abdul-Wahad  abdulta01
...                   ...        ...
4571           Ante Zizic  zizican01
4572             Jim Zoet   zoetji01
4573            Bill Zopf   zopfbi01
4574          Ivica Zubac  zubaciv01
4575           Matt Zunic  zunicma01

[4576 rows x 2 columns]

In [11]:
# Merge Player ID Table with Season Stats
nba_stats_df = season_stats_df.merge(player_id_table, on=['Player'], how='inner').sort_values(by='Year', axis=0) \
                .reset_index(drop=True)
nba_stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_id
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,armstcu01
1,1950.0,Dick Mehen,PF,27.0,WAT,62.0,NaN,NaN,NaN,0.470,...,NaN,NaN,NaN,191.0,NaN,NaN,NaN,203.0,892.0,mehendi01
2,1950.0,Mal McMullen,F-C,22.0,INO,58.0,NaN,NaN,NaN,0.365,...,NaN,NaN,NaN,87.0,NaN,NaN,NaN,212.0,323.0,mcmulma01
3,1950.0,Bones McKinney,SF,31.0,WSC,53.0,NaN,NaN,NaN,0.352,...,NaN,NaN,NaN,88.0,NaN,NaN,NaN,185.0,492.0,mckinbo01
4,1950.0,Mike McCarron,G,27.0,STB,5.0,NaN,NaN,NaN,0.230,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,5.0,mccarmi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21342,2017.0,Raymond Felton,PG,32.0,LAC,80.0,11.0,1700.0,10.9,0.496,...,33.0,184.0,217.0,191.0,67.0,22.0,83.0,125.0,538.0,feltora01
21343,2017.0,Jeff Withey,C,26.0,UTA,51.0,1.0,432.0,18.8,0.588,...,52.0,69.0,121.0,7.0,16.0,32.0,14.0,52.0,146.0,witheje01
21344,2017.0,Channing Frye,C,33.0,CLE,74.0,15.0,1398.0,15.6,0.612,...,37.0,253.0,290.0,45.0,33.0,37.0,53.0,138.0,676.0,fryech01
21345,2017.0,Tony Allen,SG,35.0,MEM,71.0,66.0,1914.0,13.3,0.493,...,166.0,225.0,391.0,98.0,115.0,29.0,100.0,178.0,643.0,allento01
21346,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,zubaciv01

In [12]:
# Write Nba Season Stats to CSV
nba_stats_df.to_csv('database_files/nba_season_stats.csv', index = False, encoding = 'UTF-8')