In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in season stats
season_stats = pd.read_csv('resources/seasons_stats.csv', encoding='windows-1252')
season_stats

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [3]:
# There are entirely blank rows within the dataset, we will drop these before proceeding
season_stats = season_stats[season_stats['Year'].notna()]
season_stats['Year'] = season_stats['Year'].astype(int)
season_stats

C:\Users\clewe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [4]:
# We will also drop TOT rows, these appear when a player has been traded during the year and consequently plays for 
# more than one team in a season
season_stats = season_stats[season_stats['Tm'] != 'TOT']
season_stats

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
4,1950,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,1950,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,0.376,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [5]:
# read in team abbreviations
team_abbreviations = pd.read_csv('resources/team_abbreviations.csv', encoding='windows-1252')
team_abbreviations['Franchise'] = team_abbreviations['Franchise'].astype('string')
team_abbreviations['Abbreviation'] = team_abbreviations['Abbreviation'].astype('string')
team_abbreviations

                 Franchise Abbreviation
0            ATLANTA HAWKS          ATL
1          ST. LOUIS HAWKS          SLH
2          MILWAUKEE HAWKS          MLH
3    TRI-CITIES BLACKHAWKS          TCB
4           BOSTON CELTICS          BOS
..                     ...          ...
63  INDIANAPOLIS OLYMPIANS          INO
64     SHEBOYGAN RED SKINS          SRS
65       ST. LOUIS BOMBERS          SLB
66     WASHINGTON CAPITOLS          WSC
67          WATERLOO HAWKS          WAT

[68 rows x 2 columns]

In [6]:
# read in franchise data
franchise_data = pd.read_csv('resources/franchise_data.csv', encoding='windows-1252')
franchise_data['Franchise'] = franchise_data['Franchise'].astype('string')
franchise_data

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1968-69,2019-20,52,4201,2068,2133,0.492,33,5.0,0,0
1,St. Louis Hawks,NBA,1955-56,1967-68,13,1005,553,452,0.550,12,6.0,0,1
2,Milwaukee Hawks,NBA,1951-52,1954-55,4,281,91,190,0.324,0,0.0,0,0
3,Tri-Cities Blackhawks,NBA,1949-50,1950-51,2,132,54,78,0.409,1,0.0,0,0
4,Boston Celtics,NBA/BAA,1946-47,2019-20,74,5796,3426,2370,0.591,57,31.0,9,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Virginia Squires,ABA,1970-71,1975-76,6,503,200,303,0.398,4,1.0,0,0
107,Washington Capitols,ABA,1969-70,1969-70,1,84,44,40,0.524,1,0.0,0,0
108,Oakland Oaks,ABA,1967-68,1968-69,2,156,82,74,0.526,1,1.0,0,1
109,Washington Capitols,NBA/BAA,1946-47,1950-51,5,271,157,114,0.579,4,2.0,0,0
110,Waterloo Hawks,NBA,1949-50,1949-50,1,62,19,43,0.306,0,0.0,0,0

In [7]:
# adjust years to match year ending
for i in range(111):
    front = franchise_data['From'][i][0:2]
    back = franchise_data['From'][i][5:7]
    year = int(str(front)+str(back))
    franchise_data['From'][i] = year
    
for i in range(111):
    front = franchise_data['To'][i][0:2]
    back = franchise_data['To'][i][5:7]
    year = int(str(front)+str(back))
    franchise_data['To'][i] = year

franchise_data

C:\Users\clewe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\clewe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1969,2020,52,4201,2068,2133,0.492,33,5.0,0,0
1,St. Louis Hawks,NBA,1956,1968,13,1005,553,452,0.550,12,6.0,0,1
2,Milwaukee Hawks,NBA,1952,1955,4,281,91,190,0.324,0,0.0,0,0
3,Tri-Cities Blackhawks,NBA,1950,1951,2,132,54,78,0.409,1,0.0,0,0
4,Boston Celtics,NBA/BAA,1947,2020,74,5796,3426,2370,0.591,57,31.0,9,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Virginia Squires,ABA,1971,1976,6,503,200,303,0.398,4,1.0,0,0
107,Washington Capitols,ABA,1970,1970,1,84,44,40,0.524,1,0.0,0,0
108,Oakland Oaks,ABA,1968,1969,2,156,82,74,0.526,1,1.0,0,1
109,Washington Capitols,NBA/BAA,1947,1951,5,271,157,114,0.579,4,2.0,0,0
110,Waterloo Hawks,NBA,1950,1950,1,62,19,43,0.306,0,0.0,0,0

In [8]:
# Remove non-NBA teams
franchise_data = franchise_data[franchise_data['Lg'] != 'BAA']
franchise_data = franchise_data[franchise_data['Lg'] != 'ABA']
franchise_data = franchise_data[franchise_data['Lg'] != 'NBA/ABA']
franchise_data = franchise_data.reset_index(drop=True)
franchise_data

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,Atlanta Hawks,NBA,1969,2020,52,4201,2068,2133,0.492,33,5.0,0,0
1,St. Louis Hawks,NBA,1956,1968,13,1005,553,452,0.550,12,6.0,0,1
2,Milwaukee Hawks,NBA,1952,1955,4,281,91,190,0.324,0,0.0,0,0
3,Tri-Cities Blackhawks,NBA,1950,1951,2,132,54,78,0.409,1,0.0,0,0
4,Boston Celtics,NBA/BAA,1947,2020,74,5796,3426,2370,0.591,57,31.0,9,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Indianapolis Olympians,NBA,1950,1953,4,269,132,137,0.491,4,1.0,0,0
61,Sheboygan Red Skins,NBA,1950,1950,1,62,22,40,0.355,1,0.0,0,0
62,St. Louis Bombers,NBA/BAA,1947,1950,4,237,122,115,0.515,3,1.0,0,0
63,Washington Capitols,NBA/BAA,1947,1951,5,271,157,114,0.579,4,2.0,0,0
64,Waterloo Hawks,NBA,1950,1950,1,62,19,43,0.306,0,0.0,0,0

In [9]:
# Set the Franchise name to match the syntax in the Team Abbreviations Table
for i in range(65):
    franchise_data['Franchise'][i] = franchise_data['Franchise'][i].upper()
franchise_data

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ
0,ATLANTA HAWKS,NBA,1969,2020,52,4201,2068,2133,0.492,33,5.0,0,0
1,ST. LOUIS HAWKS,NBA,1956,1968,13,1005,553,452,0.550,12,6.0,0,1
2,MILWAUKEE HAWKS,NBA,1952,1955,4,281,91,190,0.324,0,0.0,0,0
3,TRI-CITIES BLACKHAWKS,NBA,1950,1951,2,132,54,78,0.409,1,0.0,0,0
4,BOSTON CELTICS,NBA/BAA,1947,2020,74,5796,3426,2370,0.591,57,31.0,9,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,INDIANAPOLIS OLYMPIANS,NBA,1950,1953,4,269,132,137,0.491,4,1.0,0,0
61,SHEBOYGAN RED SKINS,NBA,1950,1950,1,62,22,40,0.355,1,0.0,0,0
62,ST. LOUIS BOMBERS,NBA/BAA,1947,1950,4,237,122,115,0.515,3,1.0,0,0
63,WASHINGTON CAPITOLS,NBA/BAA,1947,1951,5,271,157,114,0.579,4,2.0,0,0
64,WATERLOO HAWKS,NBA,1950,1950,1,62,19,43,0.306,0,0.0,0,0

In [10]:
# First Merge the Team Abbrevations with the Franchise Data
team_table = franchise_data.merge(team_abbreviations, on=['Franchise'], how='left')
team_table

,Franchise,Lg,From,To,Yrs,G,W,L,W/L%,Plyfs,Div,Conf,Champ,Abbreviation
0,ATLANTA HAWKS,NBA,1969,2020,52,4201,2068,2133,0.492,33,5.0,0,0,ATL
1,ST. LOUIS HAWKS,NBA,1956,1968,13,1005,553,452,0.550,12,6.0,0,1,SLH
2,MILWAUKEE HAWKS,NBA,1952,1955,4,281,91,190,0.324,0,0.0,0,0,MLH
3,TRI-CITIES BLACKHAWKS,NBA,1950,1951,2,132,54,78,0.409,1,0.0,0,0,TCB
4,BOSTON CELTICS,NBA/BAA,1947,2020,74,5796,3426,2370,0.591,57,31.0,9,17,BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,INDIANAPOLIS OLYMPIANS,NBA,1950,1953,4,269,132,137,0.491,4,1.0,0,0,INO
61,SHEBOYGAN RED SKINS,NBA,1950,1950,1,62,22,40,0.355,1,0.0,0,0,SRS
62,ST. LOUIS BOMBERS,NBA/BAA,1947,1950,4,237,122,115,0.515,3,1.0,0,0,SLB
63,WASHINGTON CAPITOLS,NBA/BAA,1947,1951,5,271,157,114,0.579,4,2.0,0,0,WSC
64,WATERLOO HAWKS,NBA,1950,1950,1,62,19,43,0.306,0,0.0,0,0,WAT

In [11]:
# Check for Duplicates
team_table['Abbreviation'].value_counts().max()

1

In [12]:
team_table = team_table.rename(columns={"From": "Team_Start", "To": "Team_End", "W/L%": "W_L_PCT"})
team_table['Div'] = team_table['Div'].astype(int) 
team_table

,Franchise,Lg,Team_Start,Team_End,Yrs,G,W,L,W_L_PCT,Plyfs,Div,Conf,Champ,Abbreviation
0,ATLANTA HAWKS,NBA,1969,2020,52,4201,2068,2133,0.492,33,5,0,0,ATL
1,ST. LOUIS HAWKS,NBA,1956,1968,13,1005,553,452,0.550,12,6,0,1,SLH
2,MILWAUKEE HAWKS,NBA,1952,1955,4,281,91,190,0.324,0,0,0,0,MLH
3,TRI-CITIES BLACKHAWKS,NBA,1950,1951,2,132,54,78,0.409,1,0,0,0,TCB
4,BOSTON CELTICS,NBA/BAA,1947,2020,74,5796,3426,2370,0.591,57,31,9,17,BOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,INDIANAPOLIS OLYMPIANS,NBA,1950,1953,4,269,132,137,0.491,4,1,0,0,INO
61,SHEBOYGAN RED SKINS,NBA,1950,1950,1,62,22,40,0.355,1,0,0,0,SRS
62,ST. LOUIS BOMBERS,NBA/BAA,1947,1950,4,237,122,115,0.515,3,1,0,0,SLB
63,WASHINGTON CAPITOLS,NBA/BAA,1947,1951,5,271,157,114,0.579,4,2,0,0,WSC
64,WATERLOO HAWKS,NBA,1950,1950,1,62,19,43,0.306,0,0,0,0,WAT

In [13]:
# Write the dataframe to a csv
team_table.to_csv('database_files/team_table.csv', index = False, encoding = 'UTF-8')